<h1>Listing effects</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @effects.each do |effect| %>
  <tr>
    <td><%= link_to effect.name, effect %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Effect', new_effect_path %>
<%= link_to 'Home', '/' %>


