
body
{ background-image :url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmjThzAxC7en1iqunwMXFOuVpw-fwjjDqpdl6zytSQRZRDtZ-mTg");

}

h1 {
font-family: Georgia, Times, serif;
	  color : #000080;
	  text-shadow: 2px 2px 3px #666666;
	  background-color: #FF1493;
}



